name: ci

on: [pull_request, push]

jobs:
  prep:
    runs-on: ubuntu-latest
    steps:

  build:
    runs-on: ubuntu-latest
    needs: [prep]
    steps:
      - uses: actions/checkout@v4
      - run: dwf build:debug

  check_fmt_check:
    runs-on: ubuntu-latest
    needs: [prep, build]
    steps:
      - uses: actions/checkout@v4
      - run: dwf fmt:check

  check_lint_static:
    runs-on: ubuntu-latest
    needs: [prep, build]
    steps:
      - uses: actions/checkout@v4
      - run: dwf lint:static

  check_build_debug:
    runs-on: ubuntu-latest
    needs: [prep, build]
    steps:
      - uses: actions/checkout@v4
      - run: dwf build:debug

  check_test_unit:
    runs-on: ubuntu-latest
    needs: [prep, build]
    steps:
      - uses: actions/checkout@v4
      - run: dwf test:unit

# project: node-ts
